    <div id="main">
        <%= image_tag 'main-img.jpg' %>
    </div>
    
    <div id="article_wrap">
            <div id="article_list">
                <% @articles.each do |article| %>
                  <div>
                    <h2><%= article.title %></h2>
                    <p><%= article.created_at.strftime('%Y/%m/%d') %></p>
                    <% if user_signed_in? %>
                        <%= link_to "編集", edit_article_path(article) %> <%= link_to "削除", article_path(article), method: :delete %>
                    <% end %>
                  </div>
               <% end %>
            </div>
     
            <div id="sidebar">
                <h2>★PV数ランキング</h2>
                <ul>
                <% @ranking_articles.each_with_index do |ranking_article,index| %>
                  <%= index + 1 %>位
                  <%= link_to(ranking_article.title,"/articles/#{ranking_article.id}") %>
                  (<%= REDIS.zscore("articles/daily/#{Date.today.to_s}", ranking_article.id).to_i %>PV)
                <% end %>
                </ul>
            </div>
    </div>
